@media all and (min-width: 1px) and (max-width: 1126px)
  .container
    > .dots
      display none

    @import iphone_menu

    > .herob
      height 500px
      > .inner > .title
        font-size 21.8pt
        margin-top -23px

    > .hero, > .herob, > .herowork, > .herocareers, .herofront
      &.herowork
        height 362px
        background-size cover
        > .inner
          > .title
            font-size aitw(28)
            width 220px
            margin -43px auto 0 auto
            > .bigger
              font-size aitw(28)


     > .home-hero-container > .herofront
        border none
        > .overlay
          height 285px !important
          padding-top 0
          > .inner
            display block
            > .title
              font-size 22pt
              height 424px
              height 60px
              text-align center
              > .bigger
                font-size aitw(24)

      > #video
        display none
        &.on
          display none
        &.off
          display none
    > .herocareers
      height 521px
      background-position center
      background-size cover
      margin-bottom 0
      > .inner > .title
        margin-top -30px
        font-size aitw(30)
    > .culturehero
      height 256px
      background-position center
      background-size cover

  .copyblock
    font-size aitw(20) !important
    line-height aitw(20) !important
    padding 40px 20px !important
    &.lineheight
      line-height aitw(24) !important
    &.block1
      padding 5px 20px !important
    > .copy
      padding 10px 0 10px 0 !important
    > .copybold
      font-size 15pt !important
    > .copylight
      font-size 15pt !important
    &.copycareers
      padding 20px !important
    &.block1
      margin 0 0 0 0
      > .copy
        width auto
        padding 0 0 0 0

  .tech
    padding 40px 0 40px 0
    > .copyblock
      padding 25px 20px 0 20px !important
  .tech > .types > .type > .title
    font-size aitw(20)
    padding 10px 0 0 0
  .tech > .types > .type > .icon
    width 250px
    height 250px
  .tech > .types > .type > .desc
    font-size 11pt
    height 72px
    padding 0 20px
  .tech > .typemenu
    margin 10px auto 0 auto
  .cap
    padding 8px 10px 20px 10px
    > .copyblock > .copy
      padding 18px 0 10px 0 !important
    > .capmenu
      width 285px
      margin -36px auto 20px auto
    > .capmenu > .item
      font-size aitw(14)
      padding 0 10px
    > .capmenu > .line
      width 47px
      height 1px
      margin 8px 0 0 0
    > .caps > .capitem > .left,
    > .caps > .capitem > .right
      float none
      width 100%
      padding 20px 0 10px 0
      > .image
        margin auto
        text-align center
        > img
          width 90%
    > .caps > .capitem > .right
      > .title
        font-size aitw(20)
        padding 20px 0 10px 10px
      > .desc
        font-size aitw(15)
        padding 0 0 10px 10px
      > .caplist
        font-size aitw(15)
        padding 10px 0 10px 10px
      > .cta
        margin 20px auto
        width 275px
        float none
        text-align center
        > .copy
          font-size 12pt
  .grid
    display none
  .why
    padding 20px 10px 20px 10px
    > .reasons
      margin -40px 0 0 0
    > .reasons > .reason
      float none
      width 100%
      > .icon
        width 150px
        height 150px

      > .title
        margin 10px 0 5px 0
      > .desc
        margin 0 0 20px 0
        font-size 11pt

  .contact
    margin 0 10px 60px 10px
    > .cta.contact > .copy
      padding 20px 0

  .people
    padding 20px 0 20px 0
    > .title
      font-size 17pt
      padding 20px 0 36px 0
    > .group
      margin 0 40px 10px 40px !important
      > .profile
        width 100% !important
        float none
        margin 0 0 30px 0
        > .inner
          margin 0 !important
          > .picture
            margin 10px 10px 10px 0
  .investors
    padding 0 10px 10px 10px
    > .copyblock
      padding 40px 20px 0 20px !important
    > .image
      margin 10px auto 0 auto
      > img
        width auto
        margin auto
      > img.desktop
        display none
      > img.mobile
        display block

  .advisors.group > .profile > .inner > .picture
    display none

  .ctas
    margin 10px 0 0 0
    padding 10px 10px 52px 10px
    > .inner
      > .acta
        float none
        width auto
        margin-bottom 70px
        > .inner
          margin 10px
          padding 0
          > .title
            padding 80px 0 40px 0
            font-size 18pt
          > .cta
            margin 0 auto 20px auto
            width 250px
            > .cta
              padding 18px 40px

  .locs > .title
    font-size aitw(20)
  .locs > .map
    width 100%
    height auto
    > img
      display block
      width inherit
      height inherit

  .testis
    padding 0px 10px 20px 10px
    > .testi.right
      text-align center
    > .testi.left > .image,
    > .testi.right > .image
      float none
      margin auto
      width 150px
      height 150px
    > .testi.left, > .testi.right
      > .name
        padding 20px 0 0 0
        text-align center
      > .loc
        padding 0 0 0 0
        text-align center
      > .quote
        padding 10px 
        font-size aitw(20)
        text-align center
  .get
    border-top none
    > .block.left, > .block.right
      float none
      width 100%
      > .inner
        border-right none
        border-top 1px solid c_monob
        height auto
        padding 0 0 108px 0
        > .title, > .download > .title
          font-size aitw(20)
          padding 105px 0 30px 0
        > .cta, > .download > .cta
          width 250px
          margin 10px auto 
          > .copy
            padding 20px 10px
            font-size aitw(14)
    > .block.right > .inner
      padding 0 0 20px 0 !important

  .border
    margin 20px 0
  .copyblock.ben
    padding 40px 20px 20px 20px !important
  .benefits
    padding 10px 50px 40px 50px
    > .inner > .benefit
      width 100%
      padding 10px 0
      > .icon
        margin 0
        width 40px
        height 40px
      > .name
        font-size 15pt
        line-height 40px
  .copyblock.whatt
    padding 40px 20px 0 20px !important
  .listing
    padding 10px 40px 60px 40px
    > .item
      font-size aitw(18)

  .currentopenings
    padding 60px 20px 20px 20px
    border-top 1px solid c_monob
    > .title
      font-size aitw(25)
    > .openings
      margin 0 0 0 0
      > #whr_embed_hook > ul.whr-items > li.whr-item
        max-height 72px
        > h3.whr-title
          font-size aitw(16)
        > ul.whr-info > li.whr-dept
          display none
        > ul.whr-info > li.whr-location
          float none
          font-style normal
          margin -13px 0 10px -37px

  .start
    > .download
      margin 0 0 -40px 0
    > .faq
      padding 90px 0 40px 0
    > .features
      margin 10px 0
      > .feature
        padding 20px 0 0px 0
        > .desc
          width auto
          margin 10px 0 0 0
          > .number
            float none
            text-align center
            margin 0 30px 3px 0
          > .line
            margin 0px auto 58px auto
            float none
          > .copy
            font-size 13.8pt
            line-height 17.8pt
            margin 0 20px 40px 20px
            text-align center
        > .shot
          width auto
        &.right, &.left
          > .desc
            float none
            padding 0 10px 20px 10px
          > .shot
            float none
            > .picture
              width 250px
              height 382px
              > img
                width 207px
                margin 49px 0 0 22px
    .features  > .bottom
        height 10px

  .faq
    padding 40px 0
    > .title
      font-size 15pt
      padding 25px 0 47px 0

    > .questions
      padding 20px 
      > .title
        font-size 16.8pt
      > .block
        font-size aitw(18)
        > .answer
          font-size aitw(16)

  .connect
    padding 60px 20px
    color c_mono3
    f-prox-regular()
    > .form
      float none
      width auto
    > .address
      float none
      width auto
      > .inner
        padding 0 0 0 10px
        > .title
          font-size 12pt
          color c_mono1
        > .copy
          font-size 10pt
          &.email
            color c_blue

    > .form > .inner > .subtitle
      font-size 11pt
      padding 40px 10px
    > .form > .inner > .cta
      width auto
      float none
      margin 82px 0 50px 0
    > .form > .inner > .inputs > .input.short
      width 100%
    > .form > .inner > .inputs > .input > .inner
      > input, > textarea
        font-size 11pt
        color c_mono3
        f-prox-regular()
        placeholder(color c_mono3,)

    > .form > .inner > .inputs > .input > .inner > textarea
      height 224px
    > .form > .inner > .radio
      width auto
      font-size 11pt
      > .option
        font-size 11pt
      > .title
        font-size 11pt

  .status
    width 95%
    left 2%
    margin-left 0
    > .copy
      width auto
      margin 0.7em 0 0.7em 1em

  .more
    font-size 15pt
    padding 10px 0 0 0
  .press
    > .inner
      margin 0 20px
    
      > .title
        font-size 15pt
        padding  25px 0 47px 0
      > .subtitle
        font-size 16.8pt
      > .articles
        > .article
          padding 17px 0
          > .date, > .source, > .title
            font-size aitw(16)
          > .date
            padding 0 10px 0 0
          > .title
            display block
            padding 5px 0 0 0
    > .inquiries
      padding 50px 0 0 0
      > .copy, > .email
        f-prox-semi()
        font-size 14pt
      > .email
        text-decoration none
        color c_blue
    
  .footer
    > .inner > .right
      float left
      > .icons
        text-align center
        > .icon
          float none
          display inline-block
          padding 20px 0
          width 19.5%
          > svg
            width 55px
            height 55px
          &.first
            margin 0 0 0 0
          &.last
            margin 0 0 0 0
      > .signup
        padding 0 10px
        > .title
          text-align center
        > form.signupform > input
          width 100% !important
          display block
          float none
          margin 5px 0
          padding 20px 0 !important
          text-align center
          border-radius 0
          &.submit
            f-proxc-bold()
            border 3px solid c_blue
            background-color c_mono1
            color c_blue
            font-size 12pt
            text-transform uppercase
            -webkit-appearance none
            border-radius 0
      > .copyright
        text-align center !important
        padding 20px 0

    > .inner > .right
      float none
    > .inner > .right > .copyright
      text-align right
    > .inner > .left
      float none
    > .inner > .left > .sitemaps
      padding 0 0 20px 0
    > .inner > .left > .sitemaps > .sitemap
      float none
      padding 20px 0
      > .title
        padding 10px 15px 20px 10px
      > .item
        padding 10px 15px 10px 10px
      > a.item
        padding 10px 15px 10px 10px
      > a.item.stories
        display none

  .cases

    > .case.case_electrification > .observation > .image
      background-image url('../img/case/electrification_grid_m.jpg')
      height 500px
    > .case.case_electrification > .study > .inner > .image
      background-image url('../img/case/electrification_map_m.png')
      width auto
      height 725px

    > .case.case_bloomberg > .observation > .image
      background-image url('../img/case/eggs-grid_m.jpg')
      height 400px
    > .case.case_bloomberg > .study > .inner > .image
      background-image url('../img/case/bloomberg_graph_m.png')
      width auto
      height 0
      padding-top 110% !important

    > .case.case_cpg > .study > .inner > .image
      background-image url('../img/case/cpg_shelves2_m.png')
      width auto
      height 0
      padding-top 420.64% !important

    > .case.case_standard > .observation > .image
      background-image url('../img/case/nigeria-grid_m.jpg')
      height 400px
    > .case.case_standard > .study > .inner > .image
      background-image url('../img/case/standard_graph_m.jpg')
      width auto
      padding-top 0
      height 350px
      min-height 350px !important
      height 0

    > .case.case_ebola > .observation > .image
      background-image url('../img/case/ebola-grid_m.jpg')
      height 400px
    > .case.case_ebola > .study > .inner > .image
      background-image url('../img/case/ebola_map_m.jpg')
      width auto
      height 725px

    > .case
      > .top
        height 318px
        margin 44px 0 0 0
      > .nav
        margin-top 0
        height 180px
        background-color c_mono0
        padding 0
        > .inner
          > .arrow
            width 45px
            height 90px
          > .arrow > .box
            width 20px
            height 20px
            border-left 1px solid c_white
            border-top 1px solid c_white
          > .arrow.left
            margin 0
          > .arrow.right
            margin 0
          > .arrow.left > .box
            margin 80px 0 0 15px
          > .arrow.right > .box
            margin 80px 0 0 0
          > .middle
            margin 0 50px
            > .label
              padding 41px 0 0 5px
              font-size aitw(18)
              &.label_3
                padding 33px 0 0 5px

            > .titleA, > .titleB, > .titleC
              font-size aitw(14)
              padding 5px 0 0 5px
            > .titleC
              padding 15px 0 0 5px
      > .who
        padding 31px 20px 0 20px
        > .type
          padding 12px 26px
          float none
          display inline-block
          margin 0
          font-size 11pt
        > .title
          float none
          margin 20px 0 15px 0
          font-size aitw(20)
          clear bloth
      > .problem, > .solution
        padding 20px !important
        > .label
          margin 0
        > .copy
          margin 0
          f-prox-light()
          padding 5px 0 0 0
          font-size 12pt
          line-height 15pt

      > .observation
        padding 0
        > .title
          font-size aitw(20)
          margin 0
          padding 20px 0
        > .image
          margin 0
      > .study
        padding 40px 0
        margin 0
        > .inner
          > .title
            font-size aitw(20)
            margin 0
            padding 0 20px
          > .desc
            font-size 12pt
            line-height 15pt
            margin 0
            padding 10px 20px 20px 20px
          > .image
            width 100%
            height 0
            padding-top 10.64%
            margin 0
            background-size contain

    > .bottomcontact
      padding 50px 20px 108px 20px
      > .copy
        font-size aitw(20)
        padding 0 0 30px 0
      > .cta
        width auto
        margin 0 20px

  .download
    padding 0 0 40px 0
    margin 0 0 0 0
    > .title
      font-size aitw(20)
    > .cta
      width 250px
      margin 10px auto 
      > .copy
        font-size aitw(14)
        padding 20px 0
        text-align center

    > .scopy
      width auto
      margin 20px

  .cta.apply
    width 250px
    margin auto auto 100px auto
    text-align center
    > .copy
      padding 20px 40px



