
c_red = #ff0000
c_red2 = #fc1d00
c_blue = #009bff
c_blue_d = #0072b2
c_green = #2eeec4
c_white = #ffffff
c_whiteb = #fafafa
c_black = #231f20

c_mono0 = #000000
c_mono1 = #333333
c_mono2 = #4d4d4d
c_mono3 = #808080

c_monob = #d4d4d4

c_monoI = #7a7a7a

c_mono4 = #e2e2e2
c_mono5 = #f5f5f5

c_green = #0cb280
c_green_d = #0a976c

c_sred = #fa1632
c_sred_d = #d4122a

