.why
  padding 30px 60px 60px 60px
  max-width 1100px
  margin auto

  > .reasons
    > .reason
      float left
      width 33%
      > .icon
        width 280px
        height 280px
        margin auto
      > .title
        font-size aitw(20)
        f-proxc-bold()
        color c_red2
        text-align center
        margin 10px 0 5px 0
      > .desc
        font-size aitw(20)
        text-align center
        color c_mono3


