.locs

  border-top 1px solid c_monob
  border-bottom 1px solid c_monob

  > .title
    f-proxc-bold()
    font-size aitw(30)
    text-align center
    padding 53px 0 56px 0


  > .map
    height 600px
    background-color c_mono0
    > img
      display none

.testis
  padding 0px 120px 60px 120px
  max-width 1200px
  margin auto

  > .title
    f-proxc-bold()
    font-size aitw(30)
    text-align center
    padding 60px 0 60px 0

  > .testi
    margin 0 0 60px 0

    > .name
      f-proxc-bold()
      font-size aitw(20)
    > .loc
      font-size aitw(18)
    > .quote
      font-size aitw(24)
    > .image
      padding 5px
      border 1px solid c_mono0
      width 250px
      height 250px
      > img
        width 100%
    &.left
      > .image
        float left
      > .name
        padding 0 0 0 290px
      > .loc
        padding 0 0 40px 290px
      > .quote
        padding 0 0 0 290px
    &.right
      text-align right
      > .image
        float right
      > .name
        padding 0 290px 0 0
      > .loc
        padding 0 290px 40px 0
      > .quote
        padding 0 290px 0 0

.download
  > .title
    font-size aitw(36)
    text-align center
    padding 100px 0 40px 0
  > .cta
    width 405px
    margin auto
  > .gplay
    width 200px
    margin 20px auto
    > img
      width 100%
  > .scopy
    font-size aitw(12)
    text-align center
    width 400px
    margin auto
    > a
      color c_mono0
      font-weight bold
      text-decoration none

.get
  border-top 1px solid c_monob
  > .block
    > .inner
      height 610px
      > .title, > .download > .title
        font-size aitw(36)
        text-align center
        padding 139px 0 59px 0
      > .cta
        width 300px
        margin auto
        > .copy
          text-align center
          white-space nowrap
          padding 29px 40px
      > .download > .cta > .copy
          padding 29px 40px

  > .left
    float left
    width 50%
    > .inner
      border-right 1px solid c_monob

  > .right
    float right
    width 50%
