.cap(name="cap").section.section_cap
  .copyblock
    .copy.copybold OUR CAPABILITIES

  .capmenu
    .item.active(data-item='index') INDEX
    .line
    .item(data-item='map') MAP
    .line
    .item(data-item='verify') VERIFY
    .clear

  .caps
    .capitem.cap_index.on
      .left
        .image
          img(src='./img/bloomberg.jpg')
      .right
        .title INDEX
        .desc Conduct econometric, modeling and market research to build indicators tracking real-time inflation, market activity and brand performance over time:

        ul.caplist
          li.item What are the commercial construction trends across Mexico City?
          li.item How have spending choices changed across rural Tanzania?
          li.item.last Which staples are driving food price spikes in Brazil?

        a.cta(href='./case/#2')
          .copy READ THE CASE STUDY
      .clear

    .capitem.cap_map.off
      .left
        .image
          img(src='./img/map.jpg')
      .right
        .title MAP
        .desc Locate and categorize points of interest on the ground, including small businesses, infrastructure and social services:

        ul.caplist
          li.item What is current market pricing across all gas stations in Brazil?
          li.item Where is election signage posted across Delhi;  has it been defaced?
          li.item.last Which homes are electrified in a regional city in sub-Saharan East Africa?

        a.cta(href='./case/#1')
          .copy READ THE CASE STUDY
      .clear

    .capitem.cap_verify.off
      .left
        .image
          img(src='./img/verify.jpg')
      .right
        .title VERIFY
        .desc Test hypotheses in the market about business and competitive dynamics, and social and economic impact:

        ul.caplist
          li.item Which promotions are running in Indonesian telecom shops; do prices match brand guidelines?
          li.item Is aid being delivered on time in Monrovia and to the correct set of clinics?
          li.item.last Are shelves stocked with the right product in Hanoi? What about the competitor’s share of shelf and price?

        a.cta(href='./case/#3')
          .copy READ THE CASE STUDY
      .clear

