.download
  .title Get Started!
  a.cta(href='https://play.google.com/store/apps/details?id=com.premise.v1&hl=en')
    .copy DOWNLOAD THE PREMISE APP
  .gplay
    img(src='../img/gplay.png')
  .scopy If you're not located in a country where we operate a network, send an email to <a href="mailto:support@premise.com">support@premise.com</a> and we'll keep you updated.

