.herob
  .inner
    .title A picture is worth a thousand data points.

.copyblock.max.closer.lineheight
  .copy.copylight Human-directed and machine-refined, Premise indexes and analyzes millions of observations captured daily by our global network of contributors, unearthing connections between them to map reality on the ground, and help global decision-makers make more impactful decisions.
