
a.tech(name="tech").section.section_tech

  .copyblock.blocktech
    .copy.copybold OUR TECHNOLOGY
    .copy.copylight We believe technology can answer massive global questions.

  .types
    .type.type_query.on
      .icon
        include ../svg/tech_query.svg
      .title QUERY
      .desc Decision-makers identify questions to answer
    .type.type_schedule.off
      .icon
        include ../svg/tech_schedule.svg
      .title SCHEDULE
      .desc Contributors are deployed to collect images and data
    .type.type_optimize.off
      .icon
        include ../svg/tech_optimize.svg
      .title OPTIMIZE
      .desc Machine learning algorithms monitor data streams in real-time, refining sampling design
    .type.type_analyze.off
      .icon
        include ../svg/tech_analyze.svg
      .title ANALYZE
      .desc Campaigns are monitored at scale, surfacing patterns in the data and layering predictive analytics
    .type.type_discover.off
      .icon
        include ../svg/tech_discover.svg
      .title DISCOVER
      .desc Indices, condition reports, maps and data feeds are published in real-time, layered with<br /> contextualization to show human impact

  .typemenu
    .dot.filled(data-type='query')
    .dot(data-type='schedule')
    .dot(data-type='optimize')
    .dot(data-type='analyze')
    .dot.last(data-type='discover')
    .clear
    .border
    .clear
