
.why(name="why").section.section_why
  .copyblock
    .copy.copybold WHY PREMISE

  .reasons
    .reason.global
      .icon
        include ../svg/why_global.svg
      .title GLOBAL
      .desc Access wherever you need it
    .reason.precise
      .icon
        include ../svg/why_precise.svg
      .title PRECISE
      .desc Down to the grain
    .reason.rigorous
      .icon
        include ../svg/why_rigorous.svg
      .title RIGOROUS
      .desc Connecting the micro to macro
    .clear
